/* src/Components/Hero/Hero.css */

.hero {
  position: relative;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/public/assets/tnf.png'); /* Path to your image */
  background-size: cover; /* Ensure the background covers the whole area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* No repeating of the background image */
}

.hero-content {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #c7c7c700; /* Add semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: rgb(61, 61, 61);

}

p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: rgb(7, 7, 7);

}

.cta-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #333333;
}
